<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="contenido">
        <h4>
            <h1>Listar Administrador</h1>
            <table border="1">
                <tr>
                    <td>Nombre</td>
                </tr>
                {% for adm in object_list %}
                <tr>
                    <td>{{ adm.nombre }}</td>
                </tr>
                {% endfor %}
            </table>
        </h4>
    </div>
</body>
</html>