.bien{
    color: white;
}

.eje{
    color: #0F3E5A;
}

.nombre{
    color: #26A699;
}

.margenimg
{
    margin-top: 25px;
    margin-bottom: 25px;
}

.texto
{
    margin-bottom: 100px;
}

.encabezado
{
    text-align: center;
    background: #F18800;
    width: 100%;
    height: 200px;
}

.encabezado h1
{
    line-height: 90px;
}

.vinculos
{
    
    text-align: center;
    background: #F65A00;
    height: 150;
}

.vinculos a
{
color: white;

height: 200px;
}

.contenido
{
    margin-left: 50px;
    width: 30%;
    text-align: center;
}

.enlaces
{
    margin-left: 25px;
}