.bien{
    color: red;
}

.eje{
    color: #F1B300;
}

.nombre{
    color: #26A699;
}

.margenimg
{
    margin-top: 25px;
    margin-bottom: 25px;
}

.texto
{
    margin-bottom: 100px;
}

.encabezado
{
    margin-left: 25px;
}

.vinculos
{
    margin-left: 50px;
}

.contenido
{
    margin-left: 50px;
}

.enlaces
{
    margin-left: 25px;
}